#root {
  // font-size: 40px;
  // color: @blue;
  .loading-content{
    text-align: center;
    line-height: 100vh;
    color: skyblue;
  }
}

.antFormitemNotRequired {
  // .ant-form-item-required::before {
  //   display: none !important;
  // }
  .ant-form-item-label label::after, .ant-form-item-label label::before {
    display: none !important;
  }
}