@blue: #14b8a6; // 主色
@link: #0256cd; // 链接
@green: #23bc76; // 辅助色
@red: #ff1411; // 异常提示文案颜色及登录失败icon颜色
@dis_bg: #f2f6fc; // button 不可点击状态颜色
@time: #d7d7d7; // 倒计时颜色
@line: #dedfe0; // 分割线
@bd: #dedfe0; // 边框线
@white: #fff;
@sd-b: #efeff5;
@out-bg: #f1f5f9;
@theme: #14b8a6;

@desc: #677e9d; // 描述色
