.table-area {
  padding: 20px;
  background: #fff;
  border-radius: 8px;
}

.flex {
  display: flex;
}

.row-e {
  justify-content: flex-end;
}

.col-c {
  align-items: center;
}

.mgl10 {
  margin-left: 10px;
}

